**/.git
**/.github
# checkpoints # now we want checkpoints inside the Dockerfile so we don't have to download them in every container task
Singularity
doc
test
venv
Tutorial
**/*.md
Docker/Dockerfile*
*.txt
venv
/srun_fastsurfer.sh
BUILD.info
